@import "./config";

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-container {
    margin: 3.4rem auto;
    width: clamp(30px, 80%, 480px);
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-bottom: 2.2rem;
    }
    p {
      margin-bottom: 0.5rem;
      align-self: flex-start;
      font-weight: 300;
      line-height: 1.6;
      letter-spacing: 0.01rem;
    }
    ul {
      padding: 1rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      li {
        @include tech-list-item;
        margin: 0.5rem 0.5rem;
        cursor: default;
      }
    }
  }
  // button
  button {
    background-color: white;
    border: 1px solid $black;
    border-radius: 3px;
    outline: unset;
    cursor: pointer;
  }
  .read-more {
    @include button-container(154px, 32px);
    &-border {
      @include button-border(154px, 32px);
    }
    &-button {
      @include button;
      width: 153px;
    }
    &:hover {
      .read-more-border {
        background-color: #fee483;
      }
    }
    &-button:active {
      @include button-active;
    }
  }
  &-full-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    .read-less {
      @include button-container(107px, 32px);
      &-border {
        @include button-border(107px, 32px);
      }
      &-button {
        width: 107px;
        @include button;
      }
      &:hover {
        .read-less-border {
          background-color: #fee483;
        }
      }
      &-button:active {
        @include button-active;
      }
    }
  }
  &-img-background {
    background-color: #fdf9eb;
    overflow: hidden;
    img {
      transform: scale(3.5);
      height: 150px;
      width: 100vw;
      object-fit: cover;
      object-position: 10% 0%;
    }
    @media (min-width: 250px) {
      img {
        @include responsive-img(2.5, 10%, 15%);
      }
    }
    @media (min-width: 450px) {
      img {
        @include responsive-img(1.5, 10%, 20%);
      }
    }
    @media (min-width: 600px) {
      img {
        @include responsive-img(1, 10%, 25%);
      }
    }
  }
}

@media (min-width: 768px) {
  .about-me {
    @include section-pc;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    &-container {
      margin: 0 0 0 4rem;
      flex: 2;
    }
    &-img-background {
      height: clamp(350px, 100%, 420px);
      flex: 1.3;
      img {
        height: 480px;
        display: block;
        object-position: 50% 50%;
      }
    }
    .do-fixed {
      align-self: center;
    }
  }
}

@media (min-width: 1025px) {
  .about-me-img-background img {
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .about-me {
    @include section-pc-large;
  }
}
